################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Ecosistemas.API/.vs/Ecosistemas.API/v16/Server/sqlite3
